<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="material-icons">person</i></span>
            <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="material-icons">lock</i></span>
            <input id="passwort" type="password" class="form-control" placeholder="Passwort" aria-label="Passwort"
                   aria-describedby="basic-addon2">
        </div>
        <br>
        <div class="loader"></div>
        <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-login">Login</button>

        <a href="" data-toggle="modal" data-target="#exampleModal">Noch keinen Zugang?</a>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wie bekomme ich einen Mensa Zugang?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Wenn du einen Zugang für das Mensasystem benötigst, dann geh direkt zu deinem Caterer in der Mensa.
                    Dieser legt dir einen Zugang an, und dort kannst du auch Guthaben auf- und entladen.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Alles klar!</button>
            </div>
        </div>
    </div>
</div>