<div class="row">
    <div class="col-md-10">
        <h2>Bestellungen für diesen Tag</h2>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="tblBestellungen" style="width:100%;">
                    <thead>
                    <tr>
                        <th>Bestellnummer</th>
                        <th>Kunde</th>
                        <th>Artikel</th>
                        <th>Preis</th>
                    </tr>
                    </thead>
                    <tbody>

                    {..Bestellungen..}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>