<div class="row">
    <div class="col-md-12">


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Anlegen</h4>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="vorname">Vorname</label>
                            <input type="text" class="form-control" id="vorname" placeholder="Max">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nachname">Nachname</label>
                            <input type="text" class="form-control" id="nachname" placeholder="Mustermann">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="accountname">Accountname</label>
                            <input type="text" class="form-control" id="accountname" placeholder="Max.Mustermann">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="kontostand">Kontostand</label>
                            <input type="text" class="form-control" id="kontostand" placeholder="5" value="0">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-light" id="kf-abbrechen">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="kf-anlegen">Anlegen</button>
                    </div>
                    <div class="col-md-3" id="res" style="display:none">
                        <span style="align-self:center;">Passwort für <span id="res_accountname">Max.Mustermann</span>: <span id="res_password" style="font-weight:bold;">r$fz3d</span></span>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

