<h2>Kundenverwaltung</h2>
<!--
<ul>
    <li>Kunden anlegen Formular</li>
    <li>Maschte große Tabelle mit folgenden Spalteninhalten:</li>
    <li style="list-style-type: none;">
        <ul>
            <li>Kunde</li>
            <li>Guthaben</li>
            <li>Button 1: Passwort reset</li>
            <li>Button 2: Guthaben aufladen</li>
            <li>Button 3: Guthaben entladen</li>
            <li>Button 4: Kunde löschen (in DB inaktiv setzen)</li>
            <li>Button 5: Name ändern</li>
        </ul>
    </li>
</ul>
-->
{Include="content/caterer.kunden/AnlegenForm.html"}
{Include="content/caterer.kunden/KundenTabelle.html"}
<div id="modalPlaceholder"></div>