<div class="row" style="margin-top:15px;" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <div class="col-md-12">


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Verwalten</h4>

                <table id="KundenTable" style="width:100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Accountname</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Kontostand</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="KundenTableData">
                    {..KundenTableData..}
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>