<head>
    <title>Mensasystem</title>
    <meta charset="utf-8">
    <meta author="Johannes Bauer, Alexander Ullmann, Natalia Ortega">
    <link rel="shortcut icon" type="image/x-icon" href="img/cupcake.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  media="screen,projection"/> <!--Import bootstrap.css-->
    <link type="text/css" rel="stylesheet" href="css/amaran.min.css" />
    <!-- <link type="text/css" rel="stylesheet" href="css/jquery.dataTables.min.css" /> -->
    <link type="text/css" rel="stylesheet" href="css/dataTables.bootstrap4.min.css" />
    <link type="text/css" rel="stylesheet" href="css/animate.min.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link type="text/css" rel="stylesheet" href="css/login.css" />
    <link type="text/css" rel="stylesheet" href="css/caterer.speiseplan.verwalten.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>