<!DOCTYPE html>
<html lang="de">
    {Include="Header.html"}
    <body>
        <!-- <div id="background"></div> -->
            {..NavBar..}

            <div class="container-fluid" id="wrapper">
                {..Content..}
            </div>

        <!-- 3rd Party Scripts -->
        <script type="text/javascript" src="js/thirdparty/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/thirdparty/popper.js"></script>
        <script type="text/javascript" src="js/thirdparty/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/thirdparty/jquery.amaran.min.js"></script>
        <script type="text/javascript" src="js/thirdparty/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/thirdparty/dataTables.bootstrap4.min.js"></script>
        <!-- Own Scripts -->
        {..JSImports..}
    </body>
</html>